# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor Directories and Files
.vscode/
.idea/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln

# Log files
*.log

# Dependencies
node_modules/
artifacts/

# Sensitive environment / configuration files
.env
*.env
application-local.properties
application-local.yml
application-dev.properties
application-dev.yml
